:root {
  --bg: #F6F7D8;
  --red: #933d24;
  --blue: #253767;
  --green: #536725;
  --faded-blue: #E5EBC8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'redaction';
  src: url('../fonts/redaction/webfonts/Redaction_35-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'redaction';
  src: url('../fonts/redaction/webfonts/Redaction_35-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'redaction';
  src: url('../fonts/redaction/webfonts/Redaction_35-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

h1, h2, h3, h4, ul, p {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}


a {
  color: var(--green);
}

ul {
  list-style-type: "◆ ";
  color: var(--blue);
  padding-left: 30px;;
}

html {
  background-color: var(--bg);
  color: var(--red);
  font-family: redaction;
  font-size: 1em;
  word-wrap: break-word;
}

.container {
  display: grid;
  grid-template-rows: 265px auto 216px;
  grid-template-columns: 250px 700px;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-width: calc(var(--site-width) + 100px);
  max-width: calc(var(--site-width) + 100px);
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
}

header {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

aside {
  grid-row: 2;
  grid-column: 1;
}

main {
  grid-row: 2;
  grid-column: 2;
  overflow-y: scroll;
}

.footer {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

h2, h3, h4 {
  color: var(--blue);
}

.greentext {
  color: var(--green);
}

.message {
  background-color: var(--faded-blue);
  margin: 15px;
  padding: 15px;
}

.input {
  font-family: redaction;
  background-color: var(--faded-blue);
  color: var(--fg);
  border-color: transparent;
  font-size: 1em;
  padding: 5px;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.blue {
  color: var(--blue);
}
